{
    "note" : "processes: create_gridlevel_options or modelgrid_options",
    "create_gridlevel_options" : {
        "note" : "create_methods: from_grid or user_defined",
        "create_method" : "from_grid",
        "from_grid" : {
            "path" : "/mnt/galfdaten/daten_stb/stb_sachsen/modelgrids/modelgrid_500_res500.nc",
            "resolution" : 500
        },
        "user_defined" : {
            "minx" : "",
            "miny" : "",
            "maxx" : "",
            "maxy" : "",
            "resolution" : "500"    
        },
        "grid_levels" : [500,100,25],
        "epsg_code" : "31468",
        "project" : "stb_sachsen",
        "dataPath" : "/mnt/galfdaten/daten_stb/"
    },
    "modelgrid_options" : {
        "note" : "generate_unique_ids: unique ids for each raster element : 1 (true) or 0 (false)",
        "note" : "scale_down_grid_levels: only if generate_unique_ids == 1",
        "note" : "path_to_modelregion: shape file (polygon)",
        "note" : "grid_format : grid format and data type",
        "generate_unique_ids" : "0",
        "unique_ids_gridlevels": [500],
        "scale_down_grid_levels" : "1",
        "nodata" : 0,
        "modelregion" : {
            "path" : "/mnt/galfdaten/daten_stb/stb_sachsen/original/areas/administrativ/",
            "fname" : "landesgrenze_value_31468",
            "attribute" : "value2"
        },
        "project" : "stb_sachsen",
        "dataPath" : "/mnt/galfdaten/daten_stb/",
        "note_grid_formats" : ["h5", "nc", "sgrd", "asc"],
        "grid_format" : ["nc", "byte"]
    }
}
