{
    "projection": "PROJCS[\"DHDN / Gauss-Kruger zone 4\",GEOGCS[\"DHDN\",DATUM[\"Deutsches_Hauptdreiecksnetz\",SPHEROID[\"Bessel 1841\",6377397.155,299.1528128,AUTHORITY[\"EPSG\",\"7004\"]],AUTHORITY[\"EPSG\",\"6314\"]],PRIMEM[\"Greenwich\",0,AUTHORITY[\"EPSG\",\"8901\"]],UNIT[\"degree\",0.01745329251994328,AUTHORITY[\"EPSG\",\"9122\"]],AUTHORITY[\"EPSG\",\"4314\"]],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]],PROJECTION[\"Transverse_Mercator\"],PARAMETER[\"latitude_of_origin\",0],PARAMETER[\"central_meridian\",12],PARAMETER[\"scale_factor\",1],PARAMETER[\"false_easting\",4500000],PARAMETER[\"false_northing\",0],AUTHORITY[\"EPSG\",\"31468\"],AXIS[\"Y\",EAST],AXIS[\"X\",NORTH]]",
    "GeoTransform": "4490609.3, 25, 0, 5559082.28, 0, 25",
    "false_easting": 4500000.0,
    "false_northing": 0.0,
    "grid_mapping_name": "transverse_mercator",
    "inverse_flattening": 299.1528128,
    "latitude_of_projection_origin": 0.0,
    "long_name": "CRS definition",
    "longitude_of_central_meridian": 12.0,
    "longitude_of_prime_meridian": 0.0,
    "scale_factor_at_central_meridian": 1.0,
    "semi_major_axis": 6377397.155
}
