{
    "process": "copy_parameter",
    "options": {
        "comments" : {
            "id_param" : "/config/default/parameter.json",
            "source_id_sc" :"/config/default/scenario.json",
            "target_id_sc" :"/config/default/scenario.json"
        },
        "id_param": [158,160,240,241,242],
        "source_id_sc": 141,
        "target_id_sc": [168,169,170,171,172,173,174,175,176,177,178]
    },
    "comments" : {
        "symbolicLink" : "link or copy file",
        "checkFile" :"check parameter/ scenario in original filesystem",
        "statistic": "import statistic file (*.stats.h5)",
        "insertDB" :"insert into DB (viewer_data.param_area_exists)"
    },
    "symbolicLink": 0,
    "checkFile": 1,
    "importStatistic": 1,
    "insertDB": 1
}