{
    "process" : "import_parameter",
    "general" : {
        "id_sc" : 176,
        "id_param": 520,
        "comments" : {
            "resamplingMethod" : ["mean", "majority", "median", "bilinear", "near", "min", "max"]
        },
        "resamplingMethod": "majority"
    },
    "dataSource" : {
        "comments" : {
            "inFormat" : ["shp", "asc", "nc", "PG", "sdat"],
            "srcName" : ["fileName", "dbTable"],
            "srcPath" : ["folder", "dbSchema"],
            "attribute2raster" : ["fieldName","colName"]
        },
        "inFormat" : "shp",
        "srcPath" : "/data/stb_sachsen/original/parameters/eler/",
        "srcName" : "owk_eler_zf_dsaat",
        "attribute2raster" : "176_dsaat"
    }
}