{
	"process": "import_area",
	"dataSource": {
		"inFormat": "shp",
		"srcPath": "/data/stb_sachsen/original/areas/administrativ/",
		"srcName": "regierungsbezirke_value_31468_korrekt",
		"attributes2import": {
			"area_data": "value",
			"description_text": "SL_GESAMT",
			"description_int": "SL_REGIERU",
			"de": "value",
			"eng": "value"
		}
	},
	"create_area_in_db": {
		"columns": {
			"area": "TEST",
			"description": "TEST",
			"de": "TEST",
			"eng": "TEST",
			"reihenfolge": "4",
			"idgistyp": "1",
			"srid": "31468",
			"idlayer_level": "2",
			"aktiv": "TRUE"
		}
	},
	"rasterize": {
		"fileSuffix": "nc",
		"dtype": "int32",
		"decimals": 0,
		"nodata": -99999
	}
}